<style type="text/css">

body {
  font-family: Quicksand, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  align: center;
  display: flex;
  color:#485365;
  margin-left: auto;
  margin-right:auto;
}
  
#customAddToCalendar {
  background: transparent;
  padding: 10px 32px;
  color: #485365;
  cursor: pointer;
}
* {
  text-align: center;
}

p {
  hyphens: auto;
  text-align: justify;
  margin-bottom: 1em;
}

a {
  color: #485365;
}

.responsive-image {
  margin-top: 1%;
  height: auto;
  width: 90%;
  max-width: 90%;
  margin-left: auto;
  margin-right:auto;
  align: center;
  display: flex;
}
  
.container {
  width: 90%;
  color:#485365;
  max-width:90%;
  margin-left: auto;
  margin-right:auto;
  align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
  font-family: Quicksand, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

.footnote {
  font-size: smaller;
  overflow-wrap: break-word;
}

</style>
