<style type="text/css">

body {
  font-family: Quicksand, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  align: center;
  display: flex;
  color:#485365;
  margin-left: auto;
  margin-right:auto;
}
  
#customAddToCalendar {
  background: transparent;
  padding: 10px 32px;
  color: #485365;
  cursor: pointer;
  display: inline-flex;
  align: center;
}
* {
  text-align: center;
}

p {
  hyphens: auto;
  /* text-align: justify; */
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  white-space: pre-line;
}

a {
  color: #485365;
}

/* button */
.btn {
  display: inline-flex;
  justify-content: center; /* center the content horizontally */
  align-items: center; /* center the content vertically */
  --padding-x: 1.2em;
  border-color: transparent; /* hide button border */
}

.responsive-image {
  margin-top: 1%;
  height: auto;
  width: 640px;
  max-width: 90%;
  margin-left: auto;
  margin-right:auto;
  align: center;
  display: flex;
}
  
.container {
  width: 640px;
  color:#485365;
  max-width:90%;
  margin-left: auto;
  margin-right:auto;
  align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
  font-family: Quicksand, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

p span {
    /*font-size: smaller;*/
    /*overflow-wrap: break-word;*/
    opacity: 0.6;
    /*margin-top: 5em;*/
    /*display: table;
    padding: 1px 8px;*/
}

.hide {
  display: none;
}


ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
</style>
